{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
{% load static %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Lobster|Gloria+Hallelujah|Orbitron|Comforta|Chewy|Rock+Salt|Pangolin" rel="stylesheet"> 
<!--	<link rel="stylesheet" href="{% static 'poll/style.css' %}" type="text/css">

<!--{% load static %}
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="bootstrap-theme.css" type="text/css">
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
-->

{% block head %}
{% endblock %}


<style>
.container-fluid {
	padding:0px;
}

.jumbotron {
	margin:0px;
	padding:20px 60px;
}

.jumbotron h3 {
/*	font-family:'Facinate Inline', cursive;
	font-family:'Gloria Hallelujah', cursive;*/
	font-family:'Comforta', cursive;

}

.jumbotron h1 {
	font-family:'Chewy', cursive;
	color:rgb(10,50,120);
	text-shadow: 0px 3px 5px rgb(50,90,150);
}

#banner {
	{% load staticfiles %}
	background-image:url("{% static 'poll/images/banner3.png' %}");
	border-radius:0px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
</style>

<div class="container-fluid">
	<div class="jumbotron" id="banner">
		<h1>Campus Connect</h1>
		<h3>BUY | SELL | DONATE</h3>
	</div>
</div>



</div>



<nav class="nav navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'index' %}" style="font-family: 'Rock Salt',cursive;">Campus Connnect</a>
		</div>
		<ul class="nav navbar-nav"> 
			<li><a class="active" href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'addItem' %}">Sell</a></li>
			<li><a href="#">Buy</a></li>
			<li><a href="#">Donate</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class=""></span>Log In</a></li>
			<li><a href="#"><span class=""></span>Sign Up</a></li>
		</ul>
	</div>
</nav>





{% block body %}
{% endblock %}


{% block footer %}\
{% endblock %}