#panel-container {
	height:autp;
	position:relative;
	top:50px;
	margin:auto;
}


.thumbnail {
	height:200px;
	width:100%;
}


#image_row a {
	text-decoration: none;
	width:100%;
	font-family: 'Pangolin',cursive;
}

#carousel-contain {
	border-bottom:5px solid grey;
}